<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>I Love My Burgers</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Bad+Script|Crimson+Text" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>
<body>
	<header class="header">
		<br>
		<img class="text-center" src="/assets/img/burger.png" alt="Burgerz logo">
		<br>
		<div id="header-wrapper">
			<br>
			<h1 class="text-center">I <span class="glyphicon glyphicon-heart"></span> My <span class="orange">B</span><span class="green">u</span><span class="yellow">r</span><span class="brown">g</span><span class="red">e</span><span class="green">r</span><span class="orange">s</span></h1>
			<br>
			<blockquote class="text-center">
				-Journal of a Burger-Obsessed Person
			</blockquote>
		</div>
	</header>
	<div class="container">
		{{{body}}}
	</div>
	<footer class="footer text-center">
		<br>
		&copy; Aisha Ahmad 2017
	</footer>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>