body {
    background-image: url(../img/restaurant/restaurant.png);
    color: #2A2A2A;
    font-family: 'Crimson Text', serif;
}

h1 {
    color: #85c8c5;
    font-family: 'Bad Script', cursive;
    font-size: 100px;
}

blockquote {
    color: #85c8c5;
}

img {
    border-radius: 50%;
    display: block;
    height: 175px;
    margin: 0 auto;
}

hr {
    border-color: black;
}

ol {
    font-size: 24px;
}

label {
    font-size: 24px;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #2A2A2A;
    outline: none;
}

footer {
    color: #E7F5F5;
}

.container {
    background-image: url('../img/lined_paper/lined_paper.png');
}

.orange {
    color: #F49E18;
}

.green {
    color: #99c24a;
}

.yellow {
    color: #FCEB41;
}

.red {
    color: #F26554;
}

.brown {
    color: #6E4438;
}

#header-wrapper {
    background-color: #E7F5F5;
}
